@use '../../../styles/helpers/helpers' as *;

.cardActionsBox {
  @include CenterAbsPos;
  width: 90%;
  text-align: center;

  .priceBox {
    margin-bottom: 8rem;
    color: color(whiteColor);

    .priceOnly {
      font-size: size('smallSize');
      text-transform: uppercase;
    }

    .priceValue {
      font-weight: weight('thinWeight');
      font-size: size('headingSecondarySize');
    }
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .cardActionsBox {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding-bottom: 3rem;
    }

    .priceBox {
      margin: 2.5rem 0;
    }
  }
}
